<style>
        .test{
          width: 1280px;
          min-height: 400px;    
          margin-top: 10px;  
          text-align: center;
          line-height: 80px;
        }
        .navitation{
          width: 1280px;
          margin-top: 10px;  
          text-align: center;
        }
        .insert{
         margin-bottom: 20px;
         text-align: left;
        }
        .thead-light{
          line-height: 25px;
        }
        .btn-success{
          background-color: white;
          color:forestgreen;
          border: 2px solid #4CAF50;
          font-weight: bold;
        }
        .btn-danger{
          background-color: white;
          color: red;
          border: 2px solid red; 
          font-weight: bold;
        }
        .btn-primary{
          background-color: white;
          color:darkturquoise;
          border: 2px solid deepskyblue; 
          font-weight: bold;
        }
        
        
</style>



<div class="container navitation">
  <table class="bg-success table-bordered table-hover"> 
  <thead class="thead-light">
    <tr> 
      <th scope="col">STT</th>
      <th scope="col">Danh Mục</th>
      <th scope="col">Tên Sản Phẩm</th>
      <th scope="col">Giá Thành</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Mô Tả</th>
      <th style="width: 200px;">Công Cụ</th>
    </tr>
  </thead>
  {{!-- <tbody>
    <tr>
      <th scope="row">1</th>
      <td >iPhone</td>
      <td>iPhone Xs Max 512GB</td>
      <td>43.990.000 đ</td>
      <td><img width="70" height="80" src="/images/iphone.jpg"></td>
      <td>Mô tả</td>
        <td> 
           <div>
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>iPad</td>
      <td>iPad Pro 12.9 WI-FI 4G 1TB 2018</td>
      <td>51.990.000đ</td>
      <td><img width="70" height="80" src="/images/iPad.jpg"></td>
      <td>Mô tả</td>
       <td> 
           <div>
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mac</td>
      <td>Macbook Pro 15 Touch Bar 512 GB (2018)</td>
      <td>69.990.000đ</td>
      <td>
        <img width="70" height="80" src="/images/macbook.jpg"></td>
      <td>Mô tả</td>
         <td> 
           <div>
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Mac</td>
      <td>Mac Mini 256GB 2018</td>
      <td>29.990.000₫</td>
      <td><img width="70" height="80" src="/images/macmini.jpg"></td>
      <td>Mô tả</td>
      <td> 
           <div>
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>iMac</td>
      <td>iMac Pro 27 - MQ2Y2SA/A</td>
      <td>129.999.000đ</td>
      <td><img width="70" height="80" src="/images/imac.jpg"></td>
      <td>Mô tả</td>
      <td> 
           <div>
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Apple Watch</td>
      <td>Apple Watch Series 4</td>
      <td>12.990.000đ</td>
      <td><img width="70" height="80" src="/images/applewatch.jpg"></td>
      <td>Mô tả</td>
       <td> 
           <div>
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    
    <tr>
      <th scope="row">7</th>
      <td>Phụ Kiện</td>
      <td>Magic Keyboard with Numeric Keypad</td>
      <td>3.990.000đ</td>
      <td><img width="70" height="80" src="/images/keyboard.jpg"></td>
      <td>Mô tả</td>
       <td> 
           <div>
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
  
    
    
    
  </tbody> --}}
  <tbody>
  {{#each products}}
            <tr class="table-success" >
                <td>{{this._id}}</td>
                <td>{{this.cate_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>
                    <img src="{{this.image}}" class="img-responsive" width="100">
                </td>
                <td>{{this.detail}}</td>
                <td>
                    <a href="/products/edit/{{this._id}}" class="btn btn-success">Update</a>
                    <a href="/products/remove/{{this._id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {{/each}}
</tbody>
</table>
</div>

           <div class="insert" style="text-align: center">
           <a href="product/addProduct"> <button type="button" class="btn btn-primary col-3">Add Product</button></a>
           <a href="Category"> <button type="button" class="btn btn-primary col-3">List Category</button></a>
          </div>
</div>
  