<style>
        .test{
          width: 400px;
          min-height: 380px; 
          border: gray solid 2px;    
          margin-top: 10px;
          background: url(http://localhost:3000/images/water.jpg);
          border:brown;
        } 
        
        .select{
          margin-top: 10px;
        } 
        .input1{
          margin-top: 10px;
        }
        .input-group{
          margin-top: 10px;
        }
        .text{
          text-align: center;
          color: red;
          margin-top: 5px;
        }
        .input-group-prepend{
          min-height: 100px;
        }
        .btn{
          width: 366px;
          margin-top: 15px;
        }
        .btn-info{
          background-color: white;
          color: red;
          border: 2px solid cyan; 
          font-size: 15pt;
          font-weight: bold;
        }
        .custom-file{
          text-align: center;
          margin-top: 15px;
          align-content: center;
        }
</style>
<form action="/products/save-edit" method="post"  enctype="multipart/form-data">

<div class="container test">
     <input type="hidden" name="id" value="{{products._id}}">
 <div class="text">
  <h3>Thêm Sản Phẩm</h3>
  </div>
{{!-- 
  <div class="select">
     <select class="custom-select" id="inputGroupSelect01">
    <option selected>Chọn Danh Mục</option>
    <option value="1">iPhone</option>
    <option value="2">iPad</option>
    <option value="3">Mac</option>
    <option value="4">iMac</option>
    <option value="5">Apple Watch</option>
    <option value="6">Phụ Kiện</option>
   </select>
   </div> --}}

   <div class="input1">
   <input type="text" name="name" value="{{products.name}}" pattern="^[_A-z0-9]{}$" minlength = "6" class="form-control" 
     aria-label="Recipient's username" 
     aria-describedby="button-addon2" placeholder="Enter your name" required />
     </div>
          <div>
        <label for="">Ảnh danh mục</label>
        <br>
    </div>
       <div class="custom-file">
        <br>
        <br>
        <img src="{{products.image}}" width="150">
        <br>
        <br>
        <label for="">Ảnh danh mục</label>
        <br>
    <input type="file" name="image" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
  </div>
     <div class="input-group mb-3">
  <input type="text" value="{{products.price}}" name="price" pattern="^[_A-z0-9]{}$" class="form-control" placeholder="Giá Thành" aria-label="Recipient's username" aria-describedby="basic-addon2"required>
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">VNĐ</span>
  </div>
     </div>

     <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Mô Tả</span>
  </div>
  <textarea class="form-control" value="{{products.detail}}" pattern="^[_A-z0-9]{1,}$" minlength = "6"   name="detail" aria-label="With textarea" >{{products.detail}}</textarea>
   </div>

      <td> 
           <button type="submit" class="btn btn-info">Save</button>
           <a href="/"><button type="button" class="btn btn-info">Closed</button></a>
   </td>  
</div>
</form>